{{!-- layout.hbs --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- Include any necessary CSS or other header elements -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>

    <style>
        body, header {
            margin: 0;
            padding: 0;
            background: linear-gradient(45deg, #f54ea2, #ff7676);

        }
        .navbar {
            margin-bottom: 0;
        }
    </style>
</head>

<body>

  {{#unless isAdminLoginPage}}
    {{#if admin}}
      <!-- Include the admin header partial -->
      {{> admin-header}}
    {{else}}
      <!-- Include the user header partial -->
      {{> user-header}}
    {{/if}}
  {{/unless}}

    {{{body}}} <!-- This is where your page-specific content will be injected -->

    <!-- Include any necessary JavaScript or footer elements -->
    <script src="/javascripts/script.js"></script> <!-- Move this line here -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script>
      async function addToCart(productId, event) {
        event.preventDefault();

        try {
          let response = await fetch(`/add-to-cart/${productId}`);
          let result = await response.json();

          if (result.status) {
            // Product successfully added to the cart
            updateCartCount();
          } else {
            console.error('Failed to add product to the cart');
          }
        } catch (error) {
          console.error('Error adding product to cart:', error);
        }
      }

      async function updateCartCount() {
        try {
          let response = await fetch('/cart-count');
          let result = await response.json();

          if (result.cartCount !== undefined) {
            document.getElementById('cart-badge').innerText = result.cartCount;
          }
        } catch (error) {
          console.error('Error fetching cart count:', error);
        }
      }

      // On page load, update cart count
      document.addEventListener('DOMContentLoaded', () => {
        updateCartCount();
      });
    </script>

</body>

</html>
